<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/logins.css">
</head>

<body>
  <form method="POST" action="/login">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="user-pass">Password</label>
    <input type="password" name="password" id="user-pass">
    <button type="submit">Sign In</button>
    <p>
      Not registered? <span class="field-content highlight-front">
        <a href="/signup" hreflang="en">Create an Account</a>
      </span>
    </p>
  </form>

  {{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
  {{/if}}



</body>

</html>