
<form method="POST" action="/login">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" >
    <label for="user-pass">Password</label>
    <input type="password" name="password" id="user-pass" >
    <button type="submit" >Sign In</button>
</form>

{{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
{{/if}}  