<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/69e6589eb5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

   <body>
    <nav class="navbar">
      <nav class="navbar-nav">
        <ul>
        <li class="nav-item">
          <a href="/" class="nav-link"> 
          <i class="fab fa-fort-awesome"></i>
          </a>
          <h6>Profile</h6>
        </li>
        <li class="nav-item">
          <a href="/profile/pets" class="nav-link"> 
          <i class="fas fa-cat"></i>
          </a>
          <h6>Pets</h6>
        </li>
        <li class="nav-item">
          <a href="/profile/wands" class="nav-link"> 
          <i class="fas fa-magic"></i>
          </a>
          <h6>Wands</h6>
        </li>
        <li class="nav-item">
          <a href="/profile/books" class="nav-link"> 
          <i class="fas fa-book"></i> 
          </a>
          <h6>Books</h6>
        </li>
        <li class="nav-item">
          <a href="/profile/potions" class="nav-link"> 
          <i class="fas fa-hat-wizard"></i>
          </a>
          <h6>Potions</h6>
        </li>
         
      </ul>
      </nav>
    </nav>

  <div class="main">

    {{{body}}}
  
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>