<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/69e6589eb5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

   <body>
    <nav class="navbar">
      <ul>
        <li class="nav-item">
          <a href="/" class="nav-link"> hello 

          </a>
        </li>
        <li class="nav-item">
          <a href="/signup">Signup</a> <span> | </span>
        </li>
        <li class="nav-item">
          <a href="/signin">Sign In</a> <span> | </span>
        </li>
      </ul>
    </nav>

  <div class="main">

    {{{body}}}
  
    </div>

    <script src="/javascripts/script.js"></script>
  </body>

</html>