
:root {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  --highlight-color: #ebebeb; /*Change to primary house colour later when sorted*/
  --hidden-color: #666666;
  --bg-primary: #000000;
  --bg-secondary: rgb(54, 54, 54);
  --owned-color: rgb(26, 26, 26);
}

@font-face {
  font-family: "hpFont";
  src: url("/fonts/hpFont.TTF");
}

body {
  margin: 0;
  padding: 0;
  color: black;
  background-image: url('../images/brick-pattern-greyscale.png');
  background-repeat: repeat;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--highlight-color);
}

/* nav bar styling */

.nav-bar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
}

.navbar-nav {
  position: fixed;
  top: 0;
  height: 100vh;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--bg-primary);
  width: 5rem;
  box-shadow: 3px 0px 5px 2px rgba(0,0,0,0.6);
}
.navbar-nav ul {
  padding: 2rem 0;
  margin: 0;
}
.navbar-nav li {
  list-style: none;
  padding: 0.5rem 0;
}

.navbar-nav svg {
  fill: var(--hidden-color);
  filter: grayscale(100%) opacity(0.7);
  transition: .3s;
}

.nav-link + h6 {
  color: var(--bg-secondary);
  filter: grayscale(100%) opacity(0.7);
  transition: .3s;
  text-align: center;
  padding: 0;
  visibility: hidden;
  margin: 0;
}

.nav-link:hover svg {
  fill: var(--highlight-color);
  filter: grayscale(0%) opacity(1);
  transition: .3s;
}

.nav-link:hover + h6 {
  color: var(--highlight-color);
  filter: grayscale(0%) opacity(1);
  transition: .3s;
  padding: 0.2rem 0 2rem 0;
  visibility: visible;
}

.nav-item {
  width: 100%;
}

/* acceptance letter styling */

.bacground-panel {
  width: 100%;
}

.letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  max-width: 800px;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 3rem 7rem;
  margin: 0 auto;
  background-color: wheat;
  text-align: justify;
  box-shadow: 0px 0px 5px 0.5rem rgba(0,0,0,0.8);
}

.letter .letter-head-image {
  width: 50%;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.letter h1 {
  text-align: center;
}

.letter h2 {
  text-align: center;
}

.letter h3 {
  text-align: center;
}

.letter ul {
  list-style: none;
}

/* shop styles */

.title-panel {
  background-color: var(--bg-primary);
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 7rem;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 0.5rem rgba(0,0,0,0.8);
  min-width: 600px;
  z-index: 3;
}

.title-panel .title {
  color: var(--hidden-color);
  font-size: 7rem;
  padding: 1rem 0;
  margin: 0;
  transform: translateX(-5rem);
  font-family: 'hpFont';
}

#left-bracket {
  position: fixed;
  width: 15%;
  top: 6rem;
  left: 4rem
}

#right-bracket {
  position: fixed;
  width: 15%;
  top: 6rem;
  left: calc(100vw - 15% + 1rem);
  transform: scaleX(-1);
}

.main-panel {
  min-width: 200px;
  max-width: 800px;
  min-height: calc(100vh - 12rem);
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 12rem;
  background-color: white;
  box-shadow: 0px 0px 5px 0.5rem rgba(0,0,0,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.shop-item-list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.shop-items-panel {
  background-color: #000000;
}

.shop-items-panel .shop-item {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: white;
  border-bottom: 1px solid var(--bg-secondary);
}

.shop-items-panel .shop-item .name-panel p {
  padding: 0;
  margin: 1rem 0;
}

.shop-items-panel .shop-item .desc-panel p {
  transition: .3s;
  visibility: hidden;
  top: 0;
  color: var(--bg-primary);
  padding: 0;
  margin: 0;
  line-height: 0;
}

.shop-items-panel .shop-item:hover .desc-panel p {
  transition: .3s;
  padding: .5rem 0 2rem 0;
  visibility: visible;
  color: var(--hidden-color);
  line-height: 1.5rem;
}

.shop-item .item-text-panel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
}

.shop-item form {
  width: 100%;
  height: 100%;
}

.shop-item .icon-panel {
  justify-self: flex-start;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.shop-item .button-panel {
  justify-self: flex-start;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.shop-item .button-panel .shop-button {
  outline: none;
  border: none;
}

.shop-item .button-panel .shop-button i {
  font-size: 1rem;
}

.shop-item .button-panel .shop-button:active {
  outline: none;
  border: none;
}

.shop-item .button-panel i {
  color: white;
}



.owned .button-panel button {
  width: 100%;
  height: 100%;
  background-color: var(--owned-color);
  border: 0;
  margin: 0;
  padding: 0;
}

.owned .item-text-panel {
  background-color: var(--owned-color);
}

.owned .icon-panel {
  background-color: var(--owned-color);
}

.unowned {
  background-color: var(--bg-primary);
}

.unowned + .desc-panel, .unowned + .desc-panel p {
  background-color: var(--bg-primary);
}

.unowned .button-panel button {
  width: 100%;
  height: 100%;
  background-color: var(--bg-primary);
  border: 0;
  margin: 0;
  padding: 0;
}

/* profile styles */
.main-panel .house-head-image {
  width: 50%;
  padding: 3rem 0;
  margin: 0 auto;
}

.main-panel .house-head-image img {
  width: 100%;
}

.main-panel .catagory-panel {
  color: white;
  text-align: center;
  border-bottom: 3px solid var(--bg-secondary);
  padding-top: 2rem;
}

/* shop create styles */

/* sorting hat styles */

#sorting-main-panel {
  background-color: var(--bg-primary);
  position: relative;
}

#sorting-test {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 17.5rem;
}

#sorting-head-image {
  width: 20%;
  fill: var(--hidden-color);
}

#head-image {
  width: 40%;
  fill: var(--hidden-color);
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

#question-div .question-content {
  padding: 0;
  margin: 0;
  transition: .1s;
  color: var(--hidden-color);
  visibility: visible;
  font-weight: 700;
  text-align: center;
}

#question-div #question-link:hover {
  color: var(--highlight-color);
}

#question-div {
  transition: .3s;
  margin: 0;
  --slider-height: .5rem;
  padding: 2rem 0 2rem 0;
  line-height: 1.5rem;
}

#question-div .slider-panel {
  display: flex;
  align-items: center;
  color: var(--hidden-color);
}

#question-div .slider-panel .slider-label {
  text-align: center;
  font-weight: 700;
  padding: 0 1rem;
}

#question-div .middle {
  width: 100%;
}

#question-div .slider-container {
  position: relative;
}

#question-div .slider-container .bar {
  position: absolute;
  z-index: 1;
  height: var(--slider-height);
  width: 100%;
  background-color: var(--hidden-color);
  border-radius: calc(var(--slider-height) / 2);
  overflow: hidden;
  top: .55rem;
}

#question-div .slider-container .slider {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  height: var(--slider-height);
  border-radius: calc(var(--slider-height) / 2);
  outline: none;
  background-color: transparent;
}

#question-div .slider-container .bar .fill {
  display: block;
  width: 50%;
  height: 100%;
  background-color: var(--highlight-color);
}

#question-div .slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--slider-height);
  height: var(--slider-height);
  background-color: var(--bg-secondary);
  border-radius: 50% 50% 50% 50%;
  padding: 0;
  margin: 0;
  transform: rotate(-45deg) translate(0, 0);
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 0 var(--highlight-color);
  transition: .3s ease-in-out;
}

#question-div .slider-container .slider:active::-webkit-slider-thumb,
#question-div .slider-container:hover .slider::-webkit-slider-thumb {
  border-bottom-left-radius: 0;
  transform: rotate(-45deg) translate(100%, -100%);
}

#question-div .slider-container .slider:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 .1rem var(--highlight-color);
}
/* create page */

.shop-create-panel {
  margin-top: 12rem;
  padding-top: 3rem;
  background-color: #000000;
}

form label {
  color: var(--bg-secondary);
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}


form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 50%; 

}

#create {
  display: flex;
  justify-content: center;
}




form input {
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

form button:hover {
  background: var(--highlight-color);
  color: #666;
  transition: 0.3s ease background;
}
p {
  margin-top:0;
  padding-top: 0;
  color: var(--highlight-color);
  text-align: center;
  
}

.highlight-front:hover a{ 
  color: white;
}

.highlight-front a{ 
  color: var(--bg-secondary);
}

textarea {
  width: 100%;
  text-align: center;
  align-content: center;
}