body {
  margin: 0;
  background-color: grey;
  display: flex;
  justify-content: center;
  background-image: url('https://i.imgur.com/phjRXgL.png');
  font-family: hpFont;
  color: white;
}

@font-face {
  font-family: "hpFont";
  src: url("/fonts/hpFont.TTF");
}

.lost-main-div {
  position: relative;
  max-width: 700px;
  min-width: 600px;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 5px 0.5rem rgba(0,0,0,0.6);
}

.lost-main-div h1 {
  font-size: 5rem;
  margin: 0;
  margin-top: 3rem;
}

.lost-main-div a {
  text-decoration: none;
  margin-top: 3rem;
  font-size: 3rem;
  color: #999999;
}

.lost-main-div a:hover {
  color: white;
}

.lost-main-div img {
  position: absolute;
  bottom: 3rem;
  width: 60%;
  padding: 0;
  margin: 0;
}