<div class="shop-title-panel">
  <h1 class="shop-title">{{name}}</h1>
</div>

<div class="shop-create-panel main-panel">
  
    <form method="POST" action="/shop/{{type}}/create" >
        {{!-- <div class="icon-panel">
            <label>Icon</label>
            <input type="file" name="icon" value="fas fa-star">
        </div> --}}
        <div class="item-name-panel">
            <label>{{this.name}}Name</label>
            <input type="text" name="name" class="" placeholder="Fluffy">
        </div>
        <div class="item-desc-panel">
            <label>Description</label>
            <textarea type='text' name="description" class="" placeholder="Controls fire"></textarea>
        </div>
        <button type="submit" class="create-button">Create</button>
    </form>

</div>