<div>{{this.name}}Create page</div>
<div class=''>
    <form method="POST" action="/profile/create?:" >
        <div class="">
            <label>Icon</label>
            <input type="file" name="icon" class="">
        </div>
        <div class="">
            <label>{{this.name}}Name</label>
            <input type="text" name="name" class="" placeholder="Fluffy">
        </div>
        <div class="">
            <label>Description</label>
            <input type="text" name="description" class="" placeholder="Controls fire">
        </div>
        <div class="">
            <label>Item Type</label>
            <select name="itemType">
              <option>{{this.name}}</option>
              <option>pet</option>
              <option>wand</option>
              <option>book</option>
              <option>potion</option>
            </select>
        </div>
        <button type="submit" class="">Create</button>
    </form>