<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagon Alley</title>
    <script src="https://kit.fontawesome.com/69e6589eb5.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../images/allhouses.png">
</head>
<body>
    <div class="shop-title-panel">
  <h1 class="shop-title">Update</h1>
</div>
<div class="shop-create-panel main-panel">
    <form method="POST" action="/shop/{{type}}/update" >/shop/:shopType/:itemId/update
        <div class="item-name-panel">
            <label>Name</label>
            <input type="text" name="name" class="" value="{{items.name}}" placeholder="Fish">
        </div>
        <div class="item-desc-panel">
            <label>Description</label>
            <textarea type='text' name="description" class="" value="{{items.description}}" placeholder="Controls fire"></textarea>
        </div>
        <h3>{{author}}</h3>
        <button type="submit" class="create-button">Create</button>
    </form>
</div>
</body>
</html>