
<div class="title-panel" id='wand-title-panel'>
  <h1 class="title" id='wand-title'>Ollivander's</h1>
  <h3 class="sub-title" id='wand-sub-title'>Makers of fine wands since<br>382 B.C.</h3>
</div>

<div class="main-panel" id="wand-main-panel">

  <div class="orrey-panel">

    <div class="celes-main-ring" id='ring-3'>
      <div class="celes-body" id='planet-3'></div>
      <div class="celes-main-ring" id='ring-2'>

        <div class="celes-moon-ring" id='moon-ring-1'>
          <div class="celes-body" id='moon-1'></div>
        </div>
        <div class="celes-moon-ring" id='moon-ring-2'>
          <div class="celes-body" id='moon-2'></div>
        </div>
        <div class="celes-body" id='planet-2'></div>

        <div class="celes-main-ring" id='ring-1'>

          <div class="celes-body" id='planet-1'></div>

          <div class="sun"></div>

        </div>

      </div>
    </div>

  </div>

  <article id='wand-shop-info'>
    Ah! Back so soon, my dear {{user.username}}?
    <br>
    <br>
    I certainly do appreciate your enthusiasm, but we already found you your wand, did we not?
    <br>
    <br>
    Perhaps you want to be a wandmaker like me, hmm?
    <br>
    <br>
    Well... I am looking for an apprentice, perhaps... but the prophesy? no...  
    <br>
    <br>
    Hmm? Oh! Terribly sorry my dear {{user.username}}, I do tend to get carried away in my own thoughts!
    <br>
    <br>
    Apply for the position again in a few years, after Hogwarts, and we shall see, yes?
    <br>
    <br>
    You've many more adventures to look foward to in the coming years,
    Plenty of time to think about an apprenticeship later!
    <br>
    <br>
    Now go, go! Go and be wonderful! And maybe that wand of yours will help you with that hm?
  </article>
 
</div>