<div class="background-panel">

  <div class="letter">

    <img src="images/allhouses.png" class='letter-head-image' alt="hogwarts crest">

    <article class="text-block">
      <h1>HOGWARTS SCHOOL OF WITCHCRAFT AND WIZARDRY</h1>
      <h3>
      Headmaster: Albus Dumbledore<br>
      (Order of Merlin, First Class, Grand Sorc., Chf. Warlock, Supreme Mugwump,
      International Confed. of Wizards)
      </h3>

      <p>
        Dear {{userData.username}},<br>
        We are pleased to inform you that you have a place at Hogwarts School of Witchcraft and Wizardary.
        Please find enclosed a list of all necessary books and equipment. Term begins on 1 September. We await
        your owl by no later than 31 July.
        <br>
        As a muggleborn (witch or wizard with non-magical parents), we realise that this might be surprising for you.
        Many of our new muggleborn students have difficulty finding their school supplies and knowing where to go.
        In previous years we would simply take bets on which muggleborn family would have a nervous breakdown when they
        first encountered a goblin, however, this year after much pressure for certain more sensible members of staff, we 
        have employed a few web designers to make an "app" to help muggleborn students adapt to our world.
        <br>
        Major shops in Diagon Alley have contributed to this project and our first years should be able to get all of their supplies
        for the new year through this online store. The enthusiasm of the shopkeepers has been gratifying and their range of merchandise.. diverse
        , and while we are very pleased that such enthusiam has been shown, we emplore students to <em>only buy supplies as shown on the list below.</em>
        Any student showing up to Hogwarts with a dragon will be punished severely, and the pet in question will have to go to the care of our groundskeeper, Hagrid.
        <br>
        <em>So do not let him buy you one.</em>
        <br>
        <br>
        Yours sincerely,
        <br>
        <br>
        Minerva McGonagall
        <br>
        Deputy Headmistress
      </p>

    </article>

  </div>

</div>