
<div class="background-panel">

  <div class="letter">

   <div class="house-letter-image">
    <img src="https://i.imgur.com/7H86YqI.png" class='letter-head-image' alt="hogwarts crest">
  </div>

    <article class="text-block">
      <h1>HOGWARTS SCHOOL OF WITCHCRAFT AND WIZARDRY</h1>
      <h3>
      Headmaster: Albus Dumbledore<br>
      (Order of Merlin, First Class, Grand Sorc., Chf. Warlock, Supreme Mugwump,
      International Confed. of Wizards)
      </h3>

      <br>

      <p>
        Dear {{userData.username}},<br>
        We are pleased to inform you that you have a place at Hogwarts School of Witchcraft and Wizardary.
        Please find enclosed a list of all necessary books and equipment. Term begins on 1 September. We await
        your owl by no later than 31 July.
        <br>
        As a muggleborn (witch or wizard with non-magical parents), we realise that this might be surprising for you.
        Many of our new muggleborn students have difficulty finding their school supplies and knowing where to go.
        In previous years we would simply take bets on which muggleborn family would have a nervous breakdown when they
        first encountered a goblin, however, this year after much pressure from certain, more sensible members of staff, we 
        have employed a few web designers to make an "app" to help muggleborn students adapt to our world.
        <br>
        Major shops in Diagon Alley have contributed to this project and our first years should be able to get all of their supplies
        for the new year through this online store. The enthusiasm of the shopkeepers has been gratifying and their range of merchandise.. diverse
        , and while we are very pleased that such enthusiam has been shown, we emplore students to <em>only buy supplies as shown on the list below.</em>
        Any student showing up to Hogwarts with a dragon will be punished severely, and the pet in question will have to go to the care of our groundskeeper, Hagrid.
        <br>
        <em>So do not let him buy you one.</em>
        <br>
        P.S.
        <br>
        <br>
        We understand that muggle born families have trouble exchanging their money for ours on such short notice, with this in mind a small fund has been set aside at Hogwarts for muggle borns, enough to cover the essentials for school. You should see this money on your profile page when you are ready.
        <br>
        Yours sincerely,
        <br>
        <br>
        Minerva McGonagall
        <br>
        Deputy Headmistress
        <br>
        <br>
        <br>
        <h2>EQUIPMENT LIST</h2>
        <h4>Uniform</h4>
        <p>First-year students will require:</p>
        <ol>
          <li>Three sets of plain work robe (black)</li>
          <li>One plain pointed hat (black) for day wear</li>
          <li>One pair of protective gloves (dragon hide or similar)</li>
          <li>One winter cloak (black, silver fastenings)</li>
        </ol>
        <p>Please note that all pupils' clothes should carry name tags</p>
        <br>
        <br>
        <h4>Set Books</h4>
        <p>All students should have a copy of each of the following:</p>
        <ul>
          <li>
            The Standard Book of Spells (Grade 1) <br>
            <em>by Miranda Goshawk</em>
          </li>
          <li>
            A History of Magic <br>
            <em>by Adalbert Waffling</em>
          </li>
          <li>
            Magical Theory <br>
            <em>by Adalbert Waffling</em>
          </li>
          <li>
            A Beginner's Guide to Transfiguration <br>
            <em>by Emeric Switch</em>
          </li>
          <li>
            One Thousand Magical Herbs and Fungi <br>
            <em>by Phyllida Spore</em>
          </li>
          <li>
            Magical Drafts and Potions <br>
            <em>by Arsenius Jigger</em>
          </li>
          <li>
            Fantastic Beasts and Where to Find Them <br>
            <em>by Newt Scamander</em>
          </li>
          <li>
            The Dark Forces: A Guide to Self-Protection <br>
            <em>by Quentin Trimble</em>
          </li>
        </ul>

        <br>
        <br>
{{!-- 
        <h4>
          Other Equipment
        </h4>
        <ul>
          <li>1 cauldron (pewter, standard size 2)</li>
          <li>1 set glass or crystal phials</li>
          <li>1 telescope</li>
          <li>1 set brass scales</li>
        </ul> --}}
        {{!-- <br>
        <br> --}}

        <p>Students may also bring an owl OR a cat OR a toad</p>

        <br>
        <br>

        <h1>
          PARENTS ARE REMINDED THAT FIRST-YEARS ARE NOT ALLOWED THEIR OWN BROOMSTICKS
        </h1>

      </p>

    </article>

    <a href="/profile" class='letter-link'>Go to profile</a>

  </div>

</div>
