<div>This is your profile page dude!!</div>
{{!-- 
{{#if userData}}

<p>Hello {{userData.username}}</p>

{{/if}} --}}

{{#each pets}}
<p>{{this.icon}}</p>
<p>Name: {{this.name}}</p>

    <form method="POST" action="/profile/{{this._id}}/delete" >
        <button type="submit" class="">-</button>
    </form>
{{/each}}