<head>
  <script src="https://kit.fontawesome.com/69e6589eb5.js" crossorigin="anonymous"></script>
</head>
<div class="title-panel">
  <h1 class="title">Slytherin</h1>
</div>

<div class="main-panel" id='house-info-panel'>

    <div id="house-head-image">
        <img src="/images/slytherin.png" alt="">
    </div>

    <ul class='traits-list'>
      <li>Cunning</li>
      <li>Lineage</li>
      <li>Ambition</li>
    </ul>

    <article class='house-description'>
      Welcome to Slytherin! The house of the cunning and ambitious!
      <br>
      Founded by Salazar Slytherin, the finest and most respected wizard of his time.
      <br>
      Slytherins get a bad reputation for being morally bankrupt, evil...
      <br>
      psychopathic,
      <br>
      self-serving,
      <br>
      bullying,
      <br>
      cowardly,
      <br>
      snivelling, weasely little bits of slime.
      <br>
      <br>
      Anyway, welcome to Slytherin.
      <br>
      My father will hear about this.
    </article>
</div>
