<head>
  <script src="https://kit.fontawesome.com/69e6589eb5.js" crossorigin="anonymous"></script>
</head>
<div class="title-panel">
  <h1 class="title">Gryffindor</h1>
</div>

<div class="main-panel" id='house-info-panel'>

    <div id="house-head-image">
        <img src="/images/gryffindor.png" alt="">
    </div>

    <ul class='traits-list'>
      <li>Courage</li>
      <li>Daring</li>
      <li>Nerve</li>
      <li>Chivalry</li>
      <li>More Courage!</li>
    </ul>

    <article class='house-description'>
      Welcome to Gryffindor! The house of the brave and the chivalrous!
      <br>
      Founded by Godric Gryffindor, the great warrior-wizard of his age.
      <br>
      Gryffindors are fearless, loyal, good at sports, overcommited to their sports teams and prone to early deaths! We look certain death in the eye, and
      while the other houses may run away, we stand and get squished, like heroes!
    </article>
</div>
