<head>
  <script src="https://kit.fontawesome.com/69e6589eb5.js" crossorigin="anonymous"></script>
</head>
<div class="title-panel">
  <h1 class="title">{{user.username}}</h1>
</div>

<div class="shop-items-panel main-panel">

    <div class="house-head-image">
        <img src="/images/gryffindor.png" alt="">
    </div>

</div>
