<head>
  <script src="https://kit.fontawesome.com/69e6589eb5.js" crossorigin="anonymous"></script>
</head>
<div class="title-panel">
  <h1 class="title">Hufflepuff</h1>
</div>

<div class="main-panel" id='house-info-panel'>

    <div id="house-head-image">
        <img src="/images/hufflepuff.png" alt="">
    </div>

    <ul class='traits-list'>
      <li>Dedication</li>
      <li>Kindness</li>
      <li>Loyalty</li>
    </ul>

    <article class='house-description'>
      Welcome to Hufflepuff! The house of the loyal and true!
      <br>
      Founded by Helga Hufflepuff, one of the greatest witches of her age.
      <br>
      Hufflepuffs get a lot of scorn for being mild mannered and quiet. In truth we find the value in things that loud Gryffindors, ambitious Slytherins and busy Ravenclaws do not. Hufflepuffs prize friendship and loyalty and fairness. We value goodness and kindness above all else.
      <br>
      In our house you may not find glory or acclaim, but you will have the greatest of friends and people you can always rely on.
    </article>
</div>
