<head>
  <script src="https://kit.fontawesome.com/69e6589eb5.js" crossorigin="anonymous"></script>
</head>
<div class="title-panel">
  <h1 class="title">Ravenclaw</h1>
</div>

<div class="main-panel" id='house-info-panel'>

    <div id="house-head-image">
        <img src="/images/ravenclaw.png" alt="">
    </div>

    <ul class='traits-list'>
      <li>Intelligence</li>
      <li>Wit</li>
      <li>Wisdom</li>
    </ul>

    <article class='house-description'>
      Welcome to Ravenclaw! The house of the erudite!
      <br>
      Founded by Rowena Ravenclaw, the cleverest witch of her time.
      <br>
      Ravenclaws are the most intelligent witches and wizards from each year. 
      <br>
      We enjoy the highest grades, the greatest academic acclaim, and the proudest parents!
      <br>
      Of course all that doesn't come without effort and we Ravenclaws are the most dilligent students of them all!
      <br>
      We're the first to finish our homework and the last to leave the library, we leave no 't' uncrossed!
      <br>
      But don't think that we're no fun! Oh no! we Ravenclaws can be pretty crazy at times too!
      <br>
      Once we were even invited to a Gryffindor party in 1869!
      <br>
      Though naturally none of us went.
      <br>
      Far too much to do...
    </article>
</div>
