<div class="title-panel">
  <h1 class="title">The Sorting Hat</h1>
</div>

<img src="/images/iron-bracket.png" alt="iron-bracket" id="left-bracket">
<img src="/images/iron-bracket.png" alt="iron-bracket" id="right-bracket">

<div class="main-panel" id="sorting-main-panel">
 
</div>